<!--<?xml version="1.0" encoding="UTF-8"?>-->
<configuration>
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSS</timestampPattern>
            <fieldNames>
                <level>log_level</level>
                <levelValue>[ignore]</levelValue>
                <timestamp>timestamp</timestamp>
                <version>[ignore]</version>
            </fieldNames>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="Console"/>
    </root>

</configuration>